table {
    width: 100%;
    margin-top: 10px;

    border-spacing: 0;

    border: 1px solid #0f7c0a;
    border-radius: 3px;
}

table th {
    color: #fff;
    background: #2ed216;
}

table th a {
    color: #fff;
}

table th a:hover {
    color: #fff;
}

table td {
    font-size: 13px;
}

table th,
table td {
    text-align: center;
    padding: 10px;
}

table tr:nth-child(even) {
    background: #edf3f7;
}

table th.action-column {
    background: rgb(203, 75, 70);
}
